<div class="mb-3">
    <label for="file" class="form-label">Cover Image</label>
    <input type="file" class="form-control" name="coverImage" >
  </div>
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter book title">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" name="author" placeholder="Enter book author">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" class="form-control" name="price" placeholder="Enter book price">
  </div>
  
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" rows="3"></textarea>
  </div>