
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item position-relative">
            <a class="nav-link" href="/cart">
               <img src="/trolley.png" width="30px" height="30px" alt="Cart Icon"/>
               <% if (typeof cartCount !== 'undefined' && cartCount > 0) { %>
                 <span class="badge bg-danger"><%= cartCount %></span>
               <% } %>
            </a>
         </li>
        </ul>

        <!-- Add Book Button -->
        <form action="/add/new" class="d-flex ms-3" role="search">
          <button class="btn btn-outline-success" type="submit">Add Book</button>
        </form>

        <!-- Logout Button -->
        <form action="/logout" class="d-flex ms-3" role="search" method="get">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  
