<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <div class="content">
         <p class="header">Login </p>

      <!-- error handling through connect-flag -->
      <% if(message.length > 0) { %>
        <p class="error"> <%=message %> </p>
   <% } %>

      <form action="/api/v1/login" method="post">
        <input type="email"  name="email" placeholder=" enter your email" class="detail" />
        <input type="password"  name="password" placeholder=" enter your password" class="detail" />
        <input type="submit" class="btn int" value="Login"/>
      </form>
      <a href="/forgot">Forgot your password?</a>
      <footer>
        <p>
         
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/register">Not have an Account? Sign up</a>
      </footer>
    </div>
  </div>
  

</body>
</html>